@font-face {
  font-family: "BalooRegular";
  src: url("../../fonts/Baloo Regular 400.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BerkshireSwash";
  src: url("../../fonts/BerkshireSwash-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NotoSansGujaratiBold";
  src: url("../../fonts/NotoSansGujarati-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSansGujaratiRegular";
  src: url("../../fonts/NotoSansGujarati-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: BarlowCondensedBold;
  src: url("../../fonts/BarlowCondensed-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  width: 100vw !important;
  height: 100%;
  background-image: url("../images/bg\ 1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-x: hidden;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.home-btn {
  position: fixed;
  top: 2.5vw;
  left: 4%;
  width: 3.5vw;
  height: 3.5vw;
  background-color: white;
  border-radius: 0.7vw;
  z-index: 1000;
  transition: transform 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-btn:hover img {
  transform: scale(1.2);
  opacity: 1;
}

.home-btn img {
  width: 70%;
  display: block;
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.1s ease-out , opacity 0.3s ease;
}

.page-title {
  position: fixed;
  top: 2%;
  left: 50%;
  height: auto;
  text-align: center;
  z-index: 10000;
  transition: opacity 3s ease;
  transform: translateX(-50%);
}

.page-title span {
  font-size: 6vw;
  text-align: center;
  color: #802922;
  font-family: "BerkshireSwash";
  display: block;
  font-weight: bolder !important;
}

.language-container {
  position: fixed;
  top: 2.5vw;
  right: 5%;
  display: flex;
  width: 9vw;
  padding: 0.2vw 0.3vw;
  height: auto;
  justify-content: space-between;
  align-items: center;
  font-family: "BalooRegular";
  background-color: white;
  border-radius: 50vw;
  pointer-events: auto;
  z-index: 1000;
  overflow: hidden;
  transition: border-radius 0.3s ease;
}

.language-container div {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 1.6vw;
  text-align: center;
  border: 0.3vw solid #d55b9ac1;
  background: transparent !important;
  color: #d55b9ac1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "BalooRegular", sans-serif;
  transition:
    border-radius 0.3s ease,
    color 0.3s ease,
    border 0.3s ease-out
}

.language-container div:hover {
  color: #D55B9A;
  border: 0.3vw solid #D55B9A;

}

.language-container div.active {
  border-radius: 0.4vw;
  color: #D55B9A;
  border: 0.3vw solid #D55B9A;
}

/* English active: left side radius 5% */
.language-container.active-english {
  border-top-left-radius: 10vw;
  border-bottom-left-radius: 10vw;
  border-top-right-radius: 50vw;
  border-bottom-right-radius: 50vw;
}

/* Hindi active: both sides radius 5% */
.language-container.active-hindi {
  border-radius: 10vw;
}

/* Gujarati active: right side radius 5% */
.language-container.active-gujrati {
  border-top-left-radius: 50vw;
  border-bottom-left-radius: 50vw;
  border-top-right-radius: 10vw;
  border-bottom-right-radius: 10vw;
}

.pranam-container {
  position: absolute;
  width: 45vw;
  height: auto;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pranam-container>.pranam-img {
  position: relative;
  width: 85%;
  height: auto;
  display: block;
}

.pranam-container>.pranam-img>img {
  width: 100%;
  display: block;
}

.pranam-img span {
  z-index: 15;
  position: absolute;
  top: 17%;
  left: 50%;
  font-size: 3.4vw;
  transform: translateX(-50%);
  font-family: "BalooRegular";
  color: #EF6348;
}

.pranam-container .home-btn-1 {
  position: absolute;
  top: 88%;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 15vw;
  height: auto;
  transition: transform 0.2s ease;
  transform-origin: center center;
}

.pranam-container .home-btn-1:hover {
  transform: translateX(-50%) scale(1.15);
}

.pranam-container .home-btn-1 img {
  width: 100%;
  display: block;
}

.home-btn-1 span {
  z-index: 15;
  position: absolute;
  top: 45%;
  left: 38%;
  font-size: 2.5vw;
  transform: translateY(-40%);
  font-family: "BalooRegular";
  color: white;
}

.back-btn {
  position: absolute;
  left: 4%;
  top: 4%;
  width: 3vw;
  height: 3vw;
  background-color: #D55B9A;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transform: scale(1);
  transition: transform 0.3s ease;
  z-index: 50;
}

.back-btn i {
  color: white;
  font-size: 1vw;
  transition: font-size 0.3s ease;
}

.back-btn:hover {
  transform: scale(1.05);
  background-color: white;
}

.back-btn:hover i {
  font-size: 1.2vw;
  color: #D55B9A !important;
}